# dependencies
node_modules

# yarn
./InspChain/.yarn/*
!./InspChain/.yarn/patches
!./InspChain/.yarn/plugins
!./InspChain/.yarn/releases
!./InspChain/.yarn/sdks
!./InspChain/.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
